
RewriteEngine On

# API routes
RewriteRule ^([^/]+)/api$ app/controllers/$1.php [L,QSA]

# Regular routes  
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php [L,QSA]
